<!-- Update gravatar link to use ur own. Use s=64 to make avatar still look good on retina displays -->

<a id="slidemenu-toggle" href="{{@blog.url}}" class="site-nav-logo"><span class="logo" style="background-image: url(https://s.gravatar.com/avatar/bee75d23934e6e1ac7281432ff1825d7?s=80)"></span></a>
